<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>slot-swiper</title>
</head>

<body>
  <div id="app">
    <swiper>
      <li v-for="data in datalist" :key='data'>{{data}}</li>
    </swiper>
    <swiper>
      <li v-for="data in datalist2" :key='data'>{{data}}</li>
    </swiper>
  </div>

  <script>
    Vue.component('swiper', {
      template: `<div>
        <ul>
          <slot></slot>
        </ul>
      </div>`
    })
    var app = new Vue({
      el: '#app',
      data: {
        datalist: ['111', '222', '333'],
        datalist2: ['aaa', 'bbb', 'ccc']
      }
    })
  </script>
</body>

</html>